@import 'base/media';

* {
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/advert';
@import 'blocks/reasons';
@import 'blocks/request';
@import 'blocks/footer';

