.advert{
    background: url(../img/back.png) center (center/cover) no-repeat;
    display: block;
    width: 1003px;
    height: 420px;
    margin: 0 auto;
    position: relative;
    &__title {
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        padding-top: 62px;
        font-weight: 300;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 50px;
        text-align: center;
        margin-top: 43px;
    }
    &__img {
        margin: 0 auto;
        display: flex;
    }
    &__text {
        padding-top: -300px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: -240px;
        margin-bottom: 270px;
        font-size: 19px;
    }
    &__info {
        padding-left: 100px;
        font-size: 20px;
        li {
            margin-left:20px;
        }
    }
}